<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyjr.dao.TbUserWithdrawMapper">
  <resultMap id="BaseResultMap" type="com.cyjr.model.TbUserWithdraw">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="money_withdraw" jdbcType="DECIMAL" property="moneyWithdraw" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="trade_order" jdbcType="VARCHAR" property="tradeOrder" />
    <result column="trust_remark" jdbcType="VARCHAR" property="trustRemark" />
    <result column="trust_status" jdbcType="INTEGER" property="trustStatus" />
    <result column="created_by" jdbcType="INTEGER" property="createdBy" />
    <result column="created_at" jdbcType="INTEGER" property="createdAt" />
    <result column="updated_by" jdbcType="INTEGER" property="updatedBy" />
    <result column="updated_at" jdbcType="INTEGER" property="updatedAt" />
    <result column="created_ip" jdbcType="VARCHAR" property="createdIp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, money_withdraw, remark, status, trade_order, trust_remark, trust_status, created_by, 
    created_at, updated_by, updated_at, created_ip
  </sql>
  <select id="selectByExample" parameterType="com.cyjr.model.TbUserWithdrawExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_user_withdraw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user_withdraw
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_user_withdraw
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cyjr.model.TbUserWithdrawExample">
    delete from tb_user_withdraw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cyjr.model.TbUserWithdraw">
    insert into tb_user_withdraw (id, money_withdraw, remark, 
      status, trade_order, trust_remark, 
      trust_status, created_by, created_at, 
      updated_by, updated_at, created_ip
      )
    values (#{id,jdbcType=INTEGER}, #{moneyWithdraw,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{tradeOrder,jdbcType=VARCHAR}, #{trustRemark,jdbcType=VARCHAR}, 
      #{trustStatus,jdbcType=INTEGER}, #{createdBy,jdbcType=INTEGER}, #{createdAt,jdbcType=INTEGER}, 
      #{updatedBy,jdbcType=INTEGER}, #{updatedAt,jdbcType=INTEGER}, #{createdIp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cyjr.model.TbUserWithdraw">
    insert into tb_user_withdraw
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="moneyWithdraw != null">
        money_withdraw,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="tradeOrder != null">
        trade_order,
      </if>
      <if test="trustRemark != null">
        trust_remark,
      </if>
      <if test="trustStatus != null">
        trust_status,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="createdIp != null">
        created_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="moneyWithdraw != null">
        #{moneyWithdraw,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="tradeOrder != null">
        #{tradeOrder,jdbcType=VARCHAR},
      </if>
      <if test="trustRemark != null">
        #{trustRemark,jdbcType=VARCHAR},
      </if>
      <if test="trustStatus != null">
        #{trustStatus,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=INTEGER},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=INTEGER},
      </if>
      <if test="createdIp != null">
        #{createdIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cyjr.model.TbUserWithdrawExample" resultType="java.lang.Long">
    select count(*) from tb_user_withdraw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_user_withdraw
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.moneyWithdraw != null">
        money_withdraw = #{record.moneyWithdraw,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.tradeOrder != null">
        trade_order = #{record.tradeOrder,jdbcType=VARCHAR},
      </if>
      <if test="record.trustRemark != null">
        trust_remark = #{record.trustRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.trustStatus != null">
        trust_status = #{record.trustStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=INTEGER},
      </if>
      <if test="record.createdAt != null">
        created_at = #{record.createdAt,jdbcType=INTEGER},
      </if>
      <if test="record.updatedBy != null">
        updated_by = #{record.updatedBy,jdbcType=INTEGER},
      </if>
      <if test="record.updatedAt != null">
        updated_at = #{record.updatedAt,jdbcType=INTEGER},
      </if>
      <if test="record.createdIp != null">
        created_ip = #{record.createdIp,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_user_withdraw
    set id = #{record.id,jdbcType=INTEGER},
      money_withdraw = #{record.moneyWithdraw,jdbcType=DECIMAL},
      remark = #{record.remark,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      trade_order = #{record.tradeOrder,jdbcType=VARCHAR},
      trust_remark = #{record.trustRemark,jdbcType=VARCHAR},
      trust_status = #{record.trustStatus,jdbcType=INTEGER},
      created_by = #{record.createdBy,jdbcType=INTEGER},
      created_at = #{record.createdAt,jdbcType=INTEGER},
      updated_by = #{record.updatedBy,jdbcType=INTEGER},
      updated_at = #{record.updatedAt,jdbcType=INTEGER},
      created_ip = #{record.createdIp,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cyjr.model.TbUserWithdraw">
    update tb_user_withdraw
    <set>
      <if test="moneyWithdraw != null">
        money_withdraw = #{moneyWithdraw,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="tradeOrder != null">
        trade_order = #{tradeOrder,jdbcType=VARCHAR},
      </if>
      <if test="trustRemark != null">
        trust_remark = #{trustRemark,jdbcType=VARCHAR},
      </if>
      <if test="trustStatus != null">
        trust_status = #{trustStatus,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=INTEGER},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=INTEGER},
      </if>
      <if test="createdIp != null">
        created_ip = #{createdIp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cyjr.model.TbUserWithdraw">
    update tb_user_withdraw
    set money_withdraw = #{moneyWithdraw,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      trade_order = #{tradeOrder,jdbcType=VARCHAR},
      trust_remark = #{trustRemark,jdbcType=VARCHAR},
      trust_status = #{trustStatus,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=INTEGER},
      updated_by = #{updatedBy,jdbcType=INTEGER},
      updated_at = #{updatedAt,jdbcType=INTEGER},
      created_ip = #{createdIp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>